.navbar{
  background-color: #000000c0;
  font-weight: 600;
  z-index: 1000;
}

.inicioSesion {
  background-color: #4bcddfe3;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 1.5rem;
  text-shadow: 0 4px 4px #00000080;
  box-shadow: 0 3px 5px #00000080;
  font-weight: 600;
  margin-left: 120px;
}

.registrate {
  background-color: #fff;
  letter-spacing: 1px;
  color: #000;
  border-radius: 1.5rem;
  text-shadow: 0 4px 3px #00000080;
  box-shadow: 0 3px 5px #00000080;
  font-weight: 600;
  margin-left: 30px;
}