.profile_container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_portada {
  display: flex;
  width: 100%;
  height: 14rem;
  overflow: hidden;
  border-bottom: 2px solid #000;
  box-shadow: 0 0 10px #000;
}

.portada {
  image-rendering: optimizeQuality;
  display: flex;
  object-fit: cover;
  width: 100vw;
  height: auto;
}

.portada_info {
  height: 30%;
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
}
.contain_image {
  width: 13rem;
  height: 13rem;
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #000;
  top: 0.5rem;
  z-index: 100;
  box-shadow: 0 0 5px #000;
}

.user_info {
  height: 5rem;
  display: grid;
  grid-template-columns: 28% 22% 10% 39%;
  color: #ffffff;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(3px);
  position: absolute;
  top: 9rem;
  left: 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000;
}

.contain_names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apodo {
  font-size: 1.5rem;
  font-weight: bold;
}

.contain_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contain_status {
  grid-column: 4/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
}

.totales {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem;
  gap: 1.5rem;
  letter-spacing: 1px;
}

.title {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.span {
  display: flex;
  width: 2px;
  height: 2.5rem;
  border: 1px solid #fff;
}

.numbers {
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
}

.content {
  width: 80%;
  margin: 0 auto;
  background: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile_nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px #000;
}

.nav_title {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  font-weight: 700;
  letter-spacing: 2px;
}
