.container {
  display: flex;
  flex-direction: column;
}

.welcome_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome_cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem auto 1rem;
  padding: 2rem;
  width: 80vw;
  height: auto;
  color: #fff;
  border-radius: 0.5rem;
  backdrop-filter: blur(10px);
  background-color: #0000004d;
  box-shadow: 0 0 10px #0000005e;
  padding-bottom: 2rem;

}

.welcome_title {
  width: 50%;
  padding: 2rem 0;
  text-align: center;
  font-size: 3.2rem;
  font-weight: bolder;
  text-shadow: 3px 3px 0 #564ad8;
  display: flex;
  flex-direction: column;
}

.logo_1 {
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  margin: 1rem auto;
}

.welcome_text {
  width: 50%;
  font-size: 2rem;
  text-align: center;
}

.icon_container {
  z-index: 1000;
  position: absolute;
  top: 75%;
  right: 70%;
  margin: 2rem auto 0;
}

.icon {
  color: #ffffffd7;
  font-size: 4rem;
  transition: 0.2s;
  cursor: pointer;
}

.icon:hover {
  margin: 0 auto;
  font-size: 4.5rem;
  background-color: #ffffff5e;
  border-radius: 100%;
  color: #000;
}

.subtitle {
  margin: 4rem auto 0.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px 0 #564ad8;
  scroll-margin-top: 3ex;
}

.container_posts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.icon_post {
  width: 10%;
  height: 20rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 4rem;
  color: #fff;
}

.container_carousel {
  display: flex;
  flex-direction: column;
}

.container_cardInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  scroll-margin-top: 14ex;
}

.thanks {
  background-image: url('https://images.unsplash.com/photo-1617309215127-ebeb4eddeba5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  color: #fff;
  padding: 1.5rem;
  font-size: 1.1rem;
  margin: 1rem 12rem 2rem;
  text-align: justify;
  border-radius: 2rem;
  outline: 5px groove #a5a5a5;
}

.owners {
  font-weight: bold;
  color: #564ad8;
}

.footer {
  background-color: #000;
  margin-top: 3rem;
  height: 10%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contain_footer {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_title {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: 3px 3px 0 #564ad8;
}

.logo {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  outline: 2px solid #a5a5a5;
}

.social {
  height: 10rem;
  width: 40%;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.red {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.tt {
  color: #000;
  text-shadow: 2px 2px 3px #e21c68, -2px -2px 3px #4ab0d8;
}

.yt {
  color: #fc3636;
  text-shadow: 2px 2px 3px #bb1f1f, -2px -2px 3px #bb1f1f;

}

.tw {
  color: #7b31f1;
  text-shadow: 2px 2px 3px #751fbb, -2px -2px 3px #631fbb;
}

.ins {
  color: #000000;
  text-shadow: 2px 2px 3px #681ce2, -2px -2px 3px #aa1226;
}
