html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: 'Comfortaa', sans-serif;
}

body {
  overflow-x: hidden;
  background-image: url('src/assets/fondo_general.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  width: 100vw;
  margin: 0;
  padding: 0;
}