.bg {
  background-image: url('../../assets/fondo_azul-transformed.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.bgBlack {
  background-color: #000;
  height: 100vh;
  width: 50vw;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70%;
  height: 90%;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  display: flex;
  font-size: 3.5rem;
  color: #4f3dbd;
  width: 100%;
  height: 3.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1.4rem 0;
  height: auto;
}

.labelInput {
  font-size: 1.4rem;
  width: 100%;
  margin: 0.5rem 0;
}

.input {
  font-size: 1.4rem;
  width: 100%;
  height: 2.4rem;
  margin: 0.5rem 0;
  background-color: #afafaf;
  border: 2px solid #ffffff;
  text-align: center;
  box-shadow: 0 5px 10px #8c8c8c70;
}

.input::placeholder {
  color: #353535;
  text-align: center;
}

.input:focus {
  outline: none;
  border: 2px solid #4e3dbddc;
}

.buttonLogin {
  background-color: #4e3dbddc;
  width: auto;
  height: auto;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1.5rem;
  outline: 3px solid #241d4f;
  font-weight: 700;
  margin: 0.5rem 0 0.3rem;
  box-shadow: 0 5px 10px #8c8c8c63;
  cursor: pointer;
}

.buttonLogin:hover {
  opacity: 0.8;
}

.buttonLogin:active {
  scale: 0.9;
}

.sepadorContainer {
  display: flex;
  width: 90%;
  height: 1rem;
  justify-content: center;
}

.guion {
  width: 35%;
  height: 0.5rem;
  border-bottom: 2px solid #4e3dbddc;
  box-shadow: 0 7px 10px #8c8c8c4b;
}

.circulo {
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  margin: 0 1rem;
  font-weight: bold;
  outline: 2px solid #4e3dbddc;
  box-shadow: 0 7px 10px #8c8c8c52;
}

.iniciarSesion {
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  margin: 1.5rem 0;
  text-align: center;
}

.containerIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin: 0 0 2rem;
}

.googleIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: 2px solid #b93030;
}

.fbIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  outline: 2px solid #3032b9;
}

.register {
  font-size: 1.2rem;
}

.resaltado {
  color: #4e3dbddc;
  font-weight: 600;
  cursor: pointer;
}

.resaltado:hover {
  opacity: 0.7;
}
