.bg{
  background-image: url('../../assets/fondo_azul-transformed.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100vw;
}